@charset "UTF-8";@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?0a11d2a0836d7329d0cdf6bb3f294332") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-star"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-protect"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-people"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-medal"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-light"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-funded"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-file"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-arrow-min"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-approved"]::before { 
		content: "\f10b"; 
	} 


/* Generated by vite-plugin-svg-spritemap */
/* Кстати, финальные результаты уже выгружены в репозиторий GitHub 👌
Если будут какие-либо правки или что-то захотите поменять, пишите.
Жду от Вас контент для заполнения */
html::after {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  z-index: 500;
  height: 100%;
  position: fixed;
  visibility: visible;
  background-color: #3a055d;
}
html[data-fls-loaded]::after {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
body {
  min-width: 20rem;
  font-weight: 500;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 1rem;
  background-color: #3a055d;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.text {
  line-height: 1.4;
  color: #cdceb7;
}
.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
/* Generated by vite-plugin-svg-spritemap */
.select {
  min-width: 0;
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  border: 0.0625rem solid #3c6a90;
  cursor: pointer;
  width: 100%;
  border-radius: 0.625rem;
  background-color: rgba(46, 11, 70, 0.4705882353);
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 3.125rem;
  gap: 0.625rem;
  padding-right: 0.9375rem;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value:after {
  content: "\f10a";
  font-weight: 600;
  align-self: stretch;
  font-family: "iconfont";
  transition: all 0.3s ease 0s;
  display: flex;
  translate: 0 -0.1875rem;
  justify-content: center;
  align-items: center;
}
.--select-open .select__value:after {
  translate: 0 0.1875rem;
  transform: rotate(-180deg);
}
.select__value.--select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__content {
  flex: 1 1 auto;
  padding: 0 0.9375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__input {
  padding: 0 0.9375rem;
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.--select-active .select__input::placeholder {
  color: #000;
}
.--select-focus .select__input::placeholder {
  opacity: 0.5;
}
.select__options {
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0.5rem;
  min-width: 100%;
  left: 0;
  background-color: #3a055d;
  border-top: 0;
  border-top: 0;
  padding: 0.625rem 0rem;
  border: 0.0625rem solid #3c6a90;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 0.625rem 0.9375rem;
  color: inherit;
}
.select__option.--select-selected {
  background-color: #363679;
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.--select-tag {
  cursor: pointer;
}
/* Generated by vite-plugin-svg-spritemap */
.blockhead__label {
  gap: 0.5rem;
  color: #90e3f8;
  line-height: 1.2;
  padding: 0.5rem 0.9375rem;
  align-items: center;
  border-radius: 1.875rem;
  display: inline-flex;
  letter-spacing: 0.025rem;
  background-color: #363679;
  border: 0.0625rem solid #3c6a90;
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0rem 0.3125rem 0.625rem;
}
.blockhead__label--star::before {
  font-size: 1.25rem;
  content: "\f101";
  translate: 0 -0.09375rem;
  font-family: "iconfont";
}
.blockhead__label {
  opacity: 0;
  translate: 0 20%;
  transition: opacity 0.8s ease 0.3s, translate 0.8s ease 0.3s;
}
.blockhead__label.--watcher-view {
  opacity: 1;
  translate: 0 0;
}
.blockhead__title {
  line-height: 1.1;
  opacity: 0;
  translate: 0 20%;
  transition: opacity 0.8s ease 0.4s, translate 0.8s ease 0.4s;
}
.blockhead__title.--watcher-view {
  opacity: 1;
  translate: 0 0;
}
.blockhead__title span {
  background-image: linear-gradient(270deg, #3e86e6 0%, #729ee0 100%);
  color: transparent;
  background-clip: text;
}
.blockhead__title b {
  background-image: linear-gradient(90deg, #c74bdd 0%, #d7b20b 100%);
  font-weight: 500;
  color: transparent;
  background-clip: text;
}
.blockhead__title--fire span {
  background-image: linear-gradient(270deg, #de6101 0%, #f5ff38 100%);
}
.blockhead__text {
  opacity: 0;
  translate: 0 20%;
  transition: opacity 0.8s ease 0.5s, translate 0.8s ease 0.5s;
}
.blockhead__text.--watcher-view {
  opacity: 1;
  translate: 0 0;
}
.blockhead > *:last-child {
  margin-bottom: 0;
}
/* Generated by vite-plugin-svg-spritemap */
.spollers {
  gap: 1.25rem;
  display: grid;
}
.spollers__item {
  padding: 0.875rem;
  border-radius: 0.625rem;
  background-color: #363679;
  border: 0.0625rem solid #3c6a90;
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  line-height: 1.25;
  list-style: none;
  position: relative;
  padding-right: 1.875rem;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #8cb4f8;
  height: 0.125rem;
  width: 0.875rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}
.spollers__text {
  padding-top: 0.75rem;
}
.spollers-footer {
  gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.spollers-footer__title {
  width: 100%;
  cursor: default;
  text-align: left;
  list-style: none;
  color: #9d97ad;
  position: relative;
}
.spollers-footer__title::marker, .spollers-footer__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers-footer__title {
  cursor: pointer;
}
.--spoller-init .spollers-footer__title::before, .--spoller-init .spollers-footer__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #8cb4f8;
  height: 0.125rem;
  width: 0.625rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers-footer__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers-footer__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers-footer__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers-footer__title.--spoller-active::after {
  transform: rotate(40deg);
}
.spollers-footer__list {
  gap: 0.75rem;
  display: grid;
  padding-top: 0.9375rem;
}
.spollers-footer__link {
  color: #ccccd1;
  font-weight: 500;
  line-height: 1.35;
  display: inline-flex;
  transition: color 0.3s;
}
/* Generated by vite-plugin-svg-spritemap */
.header {
  -webkit-backdrop-filter: blur(0.9375rem);
  backdrop-filter: blur(0.9375rem);
  width: 100%;
  z-index: 10;
  position: fixed;
  padding-block: 1.5625rem;
  background-color: rgba(21, 21, 60, 0.0705882353);
  transition: padding-block 0.3s;
  border-bottom: 0.0625rem solid #402c72;
}
.header.--header-scroll {
  padding-block: 0.9375rem;
}
.header__container {
  gap: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  gap: 0.625rem;
  flex-shrink: 0;
  align-items: center;
  display: inline-flex;
  transition: scale 0.3s;
}
.header__logo img {
  width: 2.5rem;
  aspect-ratio: 1;
}
.header__logo span {
  color: #8cb4f8;
}
.header__list {
  row-gap: 0.3125rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.875rem;
  align-items: center;
  justify-content: flex-end;
}
.header__link {
  color: #ccccd1;
  padding: 0.5rem 0.125rem;
  position: relative;
  transition: color 0.5s;
}
.header__link::before {
  left: 0;
  width: 0;
  bottom: 0;
  content: "";
  height: 0.09375rem;
  position: absolute;
  transition: width 0.5s;
  background-color: #fff;
}
.header__button {
  flex-shrink: 0;
}
/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}
/* Generated by vite-plugin-svg-spritemap */
.footer {
  padding-bottom: 1.25rem;
  background-color: rgba(45, 4, 88, 0.6666666667);
  border-top: 0.0625rem solid #402c72;
}
.main-footer {
  gap: 1.875rem;
  display: flex;
}
.main-footer__logo {
  gap: 0.625rem;
  flex-shrink: 0;
  align-items: center;
  display: inline-flex;
  transition: opacity 0.3s;
}
.main-footer__logo img {
  width: 2.5rem;
  aspect-ratio: 1;
}
.main-footer__logo span {
  color: #8cb4f8;
}
.main-footer__spollers {
  flex: 1 1 100%;
}
.copy-footer {
  display: flex;
  padding-block: 2.1875rem;
  align-items: center;
  justify-content: space-between;
  border-top: 0.0625rem solid #402c72;
}
.copy-footer__text {
  line-height: 1.35;
  color: #cdceb7;
}
.copy-footer__list {
  display: flex;
  row-gap: 0.625rem;
  flex-wrap: wrap;
  column-gap: 1.25rem;
}
.copy-footer__link {
  line-height: 1.35;
  color: #cdceb7;
  transition: color 0.3s;
}
/* Generated by vite-plugin-svg-spritemap */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  width: 100%;
  height: 3.125rem;
  outline: none;
  display: block;
  padding: 0 0.9375rem;
  border-radius: 0.625rem;
  caret-color: inherit;
  transition: border 0.3s;
  background-color: rgba(46, 11, 70, 0.4705882353);
  border: 0.0625rem solid #3c6a90;
}
.input.--form-error {
  border: 0.0625rem solid #d4231c;
}
.input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  color: #afb09e;
  transition: color 0.3s, opacity 0.3s;
}
.--form-error .input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  font-weight: 600;
  color: #d81a14;
}
.input[placeholder]:not([data-fls-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}
textarea.input {
  resize: vertical;
  padding: 0rem 0rem;
}
/* Generated by vite-plugin-svg-spritemap */
.form {
  gap: 0.75rem;
  display: grid;
}
.form__button {
  margin-top: 0.375rem;
}
/* Generated by vite-plugin-svg-spritemap */
.button {
  gap: 0.625rem;
  height: 3.4375rem;
  font-size: 1.125rem;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  align-items: center;
  text-align: center;
  border-radius: 1.875rem;
  padding-inline: 1.5625rem;
  display: inline-flex;
  flex-direction: row-reverse;
  transition: scale 0.3s, background 0.3s;
  justify-content: center;
  background: linear-gradient(270deg, #3e86e6 0%, #729ee0 100%);
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0rem 0.3125rem 0.625rem;
}
.button:active {
  scale: 1;
}
.button::before {
  z-index: 1;
  font-size: 1rem;
  position: relative;
  translate: 0 -0.09375rem;
}
.button::after {
  top: 0;
  content: "";
  left: -100%;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1.875rem;
  transition: left 0.5s;
  background: linear-gradient(270deg, #fe1eaf 0%, #f1574f 100%);
}
.button span {
  z-index: 1;
  position: relative;
}
.button--border {
  background: transparent;
  border: 0.125rem solid #8964d3;
}
.button--border::after {
  display: none;
}
.button--small {
  height: 2.375rem;
  font-size: 0.875rem;
  padding-inline: 1.125rem;
}
.button--small::before {
  font-size: 0.8125rem;
}
.button--fw {
  width: 100%;
}
/* Generated by vite-plugin-svg-spritemap */

/* Generated by vite-plugin-svg-spritemap */
.hero__container {
  gap: 2.1875rem;
  display: grid;
  align-items: center;
}
.aside-hero > *:last-child {
  margin-bottom: 0;
}
.aside-hero__actions {
  gap: 0.9375rem;
  display: flex;
  align-items: center;
}
.aside-hero__actions {
  opacity: 0;
  translate: 0 20%;
  transition: opacity 0.8s ease 0.6s, translate 0.8s ease 0.6s;
}
.aside-hero__actions.--watcher-view {
  opacity: 1;
  translate: 0 0;
}
.aside-hero__items {
  gap: 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0;
  translate: 0 20%;
  transition: opacity 0.8s ease 0.7s, translate 0.8s ease 0.7s;
}
.aside-hero__items.--watcher-view {
  opacity: 1;
  translate: 0 0;
}
.aside-hero__item {
  line-height: 1.2;
}
.aside-hero__item:nth-child(1) .aside-hero__label-item {
  background-image: linear-gradient(270deg, #3e86e6 0%, #729ee0 100%);
  color: transparent;
  background-clip: text;
}
.aside-hero__item:nth-child(2) .aside-hero__label-item {
  background-image: linear-gradient(270deg, #4f97f6 0%, #89ace0 100%);
  color: transparent;
  background-clip: text;
}
.aside-hero__item:nth-child(3) .aside-hero__label-item {
  background-image: linear-gradient(90deg, #c9c929 0%, #ba692c 100%);
  color: transparent;
  background-clip: text;
}
.aside-hero__label-item {
  font-size: 1.875rem;
  margin-bottom: 0.3125rem;
}
.aside-hero__label-item--01::after {
  content: "%";
}
.aside-hero__label-item--02::after {
  content: "+";
}
.aside-hero__label-item--03::after {
  content: "мин";
}
.aside-hero__text-item {
  color: #cdceb7;
}
.stat-hero {
  width: 100%;
  position: relative;
}
.stat-hero::before, .stat-hero::after {
  top: 50%;
  left: 50%;
  z-index: -2;
  content: "";
  border-radius: 50%;
  position: absolute;
  translate: -50% -50%;
}
.stat-hero::before {
  width: 36.875rem;
  height: 36.875rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.0823529412);
}
.stat-hero::after {
  width: 30.625rem;
  height: 30.625rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1568627451);
}
.stat-hero__block {
  border-radius: 0.9375rem;
  background-color: #363679;
  border: 0.0625rem solid #3c6a90;
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.15) 0rem 0.3125rem 0.625rem;
}
.stat-hero__block > *:last-child {
  margin-bottom: 0;
}
.stat-hero__block {
  scale: 0;
  opacity: 0;
  transition: scale 0.8s ease 0.3s, opacity 0.8s ease 0.3s;
}
.stat-hero__block.--watcher-view {
  scale: 1;
  opacity: 1;
}
.stat-hero__decor {
  z-index: -1;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 0.9375rem;
}
.stat-hero__decor--01 {
  width: 9.375rem;
  filter: blur(2.1875rem);
  animation: decor-translate-minus 4s infinite linear;
  background: linear-gradient(90deg, #d5c707 0%, #ce5b09 100%);
}
.stat-hero__decor--02 {
  width: 5rem;
  filter: blur(1.5625rem);
  animation: decor-translate-plus 4s infinite linear;
  background: linear-gradient(90deg, #b92ef5 0%, #c6219a 100%);
}
.stat-hero__decor--03 {
  width: 7.5rem;
  filter: blur(2.1875rem);
  animation: decor-translate-plus 7s infinite linear;
  background: linear-gradient(90deg, #35d0e4 0%, #6721e0 100%);
}
@keyframes decor-translate-minus {
  0% {
    translate: -100% -1.875rem;
  }
  50% {
    translate: -100% 0;
  }
  100% {
    translate: -100% -1.875rem;
  }
}
@keyframes decor-translate-plus {
  0% {
    translate: 100% -1.875rem;
  }
  50% {
    translate: 100% 0;
  }
  100% {
    translate: 100% -1.875rem;
  }
}
.stat-hero__head {
  display: flex;
  row-gap: 0.625rem;
  flex-wrap: wrap;
  column-gap: 0.9375rem;
}
.stat-hero__img-head {
  width: 3rem;
  aspect-ratio: 1;
}
.stat-hero__content-head {
  align-content: center;
}
.stat-hero__label-head {
  font-size: 0.875rem;
  color: #cdceb7;
  margin-bottom: 0.3125rem;
}
.stat-hero__total-head {
  font-size: 1.25rem;
}
.stat-hero {
  /*
  // .stat-hero__info
  &__info {
  	padding: 0.9375rem;
  	border-radius: 0.9375rem;
  	background-color: #5757b379;
  	border: 0.0625rem solid $borderColor;
  }
  // .stat-hero__item-info
  &__item-info {
  	&:not(:last-child) {
  		margin-bottom: 1.25rem;
  	}
  }
  // .stat-hero__label-info
  &__label-info {
  	color: $grayColor;
  	@include adaptiveValue("font-size", 16, 14);
  	&:not(:last-child) {
  		margin-bottom: 0.625rem;
  	}
  }
  // .stat-hero__bar-info
  &__bar-info {
  	display: flex;
  	width: 100%;
  	height: 0.625rem;
  	overflow: hidden;
  	border-radius: 0.625rem;
  	border: 0.0625rem solid $borderColor;
  	span {
  		width: 0;
  		height: 100%;
  		border-radius: 0.625rem;
  		background: $gradientColor;
  		transition: width 3s linear 0.3s;
  	}
  	&--01 {
  		&.--watcher-view {
  			span {
  				width: 80%;
  			}
  		}
  	}
  	&--02 {
  		&.--watcher-view {
  			span {
  				width: 50%;
  			}
  		}
  	}
  	&--03 {
  		&.--watcher-view {
  			span {
  				width: 90%;
  			}
  		}
  	}
  }
  */
}
.work {
  border-top: 0.0625rem solid #402c72;
  border-bottom: 0.0625rem solid #402c72;
}
.work__blockhead {
  max-width: 34.375rem;
}
.work__items {
  display: grid;
  counter-reset: item;
}
.work__items {
  opacity: 0;
  translate: 0 20%;
  transition: opacity 0.8s ease 0.3s, translate 0.8s ease 0.3s;
}
.work__items.--watcher-view {
  opacity: 1;
  translate: 0 0;
}
.item-work {
  position: relative;
  border-radius: 0.9375rem;
  transition: scale 0.3s, opacity 0.3s;
  background-color: rgba(54, 54, 121, 0.4862745098);
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0rem 0.3125rem 0.625rem;
}
.item-work:before {
  background-image: linear-gradient(270deg, rgba(45, 99, 169, 0.5764705882) 0%, rgba(80, 134, 214, 0.6705882353) 100%);
  color: transparent;
  background-clip: text;
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  letter-spacing: 0.0625rem;
}
.item-work > *:last-child {
  margin-bottom: 0;
}
.item-work:nth-child(1) {
  border: 0.0625rem solid rgba(185, 46, 245, 0.7647058824);
  background-color: rgba(185, 46, 245, 0.1019607843);
}
.item-work:nth-child(2) {
  border: 0.0625rem solid rgba(53, 208, 228, 0.7098039216);
  background-color: rgba(53, 161, 228, 0.1568627451);
}
.item-work:nth-child(3) {
  border: 0.0625rem solid rgba(208, 42, 89, 0.7607843137);
  background-color: rgba(179, 5, 54, 0.1411764706);
}
.item-work:nth-child(4) {
  border: 0.0625rem solid rgba(213, 199, 7, 0.7529411765);
  background-color: rgba(213, 199, 7, 0.0901960784);
}
.item-work__icon {
  width: 3.4375rem;
  font-size: 1.75rem;
  aspect-ratio: 1;
  font-weight: 600;
  align-items: center;
  border-radius: 0.625rem;
  display: inline-flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0rem 0.3125rem 0.625rem;
}
.item-work__icon--icon-file {
  background: linear-gradient(90deg, #b92ef5 0%, #c6219a 100%);
}
.item-work__icon--icon-search {
  background: linear-gradient(90deg, #35d0e4 0%, #6721e0 100%);
}
.item-work__icon--icon-approved {
  background: linear-gradient(90deg, #b30537 0%, #f5184f 100%);
}
.item-work__icon--icon-funded {
  background: linear-gradient(90deg, #d5c707 0%, #ce5b09 100%);
}
.item-work__icon--icon-funded::before {
  padding-bottom: 0.4375rem;
}
.item-work__label {
  font-size: 1.25rem;
}
.about__container {
  display: grid;
}
.about__head {
  gap: 1.25rem;
  display: grid;
}
.about__blockhead {
  max-width: 31.25rem;
}
.about__items {
  display: grid;
  counter-reset: item;
}
.about__items {
  opacity: 0;
  translate: 0 20%;
  transition: opacity 0.8s ease 0.3s, translate 0.8s ease 0.3s;
}
.about__items.--watcher-view {
  opacity: 1;
  translate: 0 0;
}
.about__text {
  opacity: 0;
  translate: 20% 0;
  transition: opacity 0.8s ease 0.3s, translate 0.8s ease 0.3s;
}
.about__text.--watcher-view {
  opacity: 1;
  translate: 0 0;
}
.item-about {
  position: relative;
  border-radius: 0.9375rem;
  transition: scale 0.3s, opacity 0.3s;
  background-color: rgba(54, 54, 121, 0.4862745098);
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0rem 0.3125rem 0.625rem;
}
.item-about > *:last-child {
  margin-bottom: 0;
}
.item-about:nth-child(1) {
  border: 0.0625rem solid rgba(185, 46, 245, 0.7647058824);
  background-color: rgba(185, 46, 245, 0.1019607843);
}
.item-about:nth-child(2) {
  border: 0.0625rem solid rgba(53, 208, 228, 0.7098039216);
  background-color: rgba(53, 161, 228, 0.1568627451);
}
.item-about:nth-child(3) {
  border: 0.0625rem solid rgba(208, 42, 89, 0.7607843137);
  background-color: rgba(179, 5, 54, 0.1411764706);
}
.item-about:nth-child(4) {
  border: 0.0625rem solid rgba(213, 199, 7, 0.7529411765);
  background-color: rgba(213, 199, 7, 0.0901960784);
}
.item-about__icon {
  width: 3.4375rem;
  font-size: 1.75rem;
  aspect-ratio: 1;
  font-weight: 600;
  align-items: center;
  border-radius: 0.625rem;
  display: inline-flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0rem 0.3125rem 0.625rem;
}
.item-about__icon--icon-protect {
  background: linear-gradient(90deg, #b92ef5 0%, #c6219a 100%);
}
.item-about__icon--icon-people {
  background: linear-gradient(90deg, #35d0e4 0%, #6721e0 100%);
}
.item-about__icon--icon-light {
  background: linear-gradient(90deg, #d5c707 0%, #ce5b09 100%);
}
.item-about__icon--icon-medal {
  background: linear-gradient(90deg, #b30537 0%, #f5184f 100%);
}
.baner-about {
  display: flex;
  row-gap: 0.9375rem;
  flex-wrap: wrap;
  column-gap: 1.5625rem;
  border-radius: 0.9375rem;
  justify-content: space-evenly;
  border: 0.0625rem solid rgba(187, 68, 238, 0.6784313725);
  background-color: rgba(185, 46, 245, 0.1019607843);
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0rem 0.3125rem 0.625rem;
}
.baner-about {
  opacity: 0;
  translate: 0 20%;
  transition: opacity 0.8s ease 0.3s, translate 0.8s ease 0.3s;
}
.baner-about.--watcher-view {
  opacity: 1;
  translate: 0 0;
}
.baner-about__item {
  text-align: center;
  transition: scale 0.3s;
}
.baner-about__item:nth-child(1) .baner-about__label {
  background-image: linear-gradient(270deg, #3e86e6 0%, #729ee0 100%);
  color: transparent;
  background-clip: text;
}
.baner-about__item:nth-child(2) .baner-about__label {
  background-image: linear-gradient(270deg, #4f97f6 0%, #89ace0 100%);
  color: transparent;
  background-clip: text;
}
.baner-about__item:nth-child(3) .baner-about__label {
  background-image: linear-gradient(90deg, #c9c929 0%, #ba692c 100%);
  color: transparent;
  background-clip: text;
}
.baner-about__label {
  line-height: 1.4;
}
.baner-about__label--01::after {
  content: "K+";
}
.baner-about__label--02::after {
  content: "+";
}
.baner-about__label--03::after {
  content: "%";
}
.baner-about__span {
  line-height: 1.2;
  color: #cdceb7;
}
/* Generated by vite-plugin-svg-spritemap */
body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
[data-fls-popup-open] body::after {
  opacity: 1;
}
[data-fls-popup] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.9375rem;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
[data-fls-popup][data-fls-popup-active] {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}
[data-fls-popup-active] [data-fls-popup-body] {
  visibility: visible;
  transform: scale(1);
}
[data-fls-popup-wrapper] {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-fls-popup-body] {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s, visibility 0.3s ease 0s;
  background-color: #3a055d;
  border: 0.0625rem solid #3c6a90;
  padding: 1.25rem;
  width: 100%;
  max-width: 56.25rem;
  border-radius: 1.25rem;
}
[data-fls-popup-head] {
  row-gap: 0.625rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.9375rem;
  border-radius: 0.625rem;
  margin-bottom: 1.5625rem;
  padding: 0.625rem 0.625rem 0.625rem 0.9375rem;
  background-color: rgba(45, 4, 88, 0.6666666667);
  justify-content: space-between;
  border: 0.0625rem solid #3c6a90;
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0rem 0.3125rem 0.625rem;
}
[data-fls-popup-title] {
  line-height: 1.1;
  align-self: center;
  background-image: linear-gradient(270deg, #9ab1ff 0%, #fe399b 100%);
  color: transparent;
  background-clip: text;
}
[data-fls-popup-close] {
  width: 2.8125rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: #363679;
  border: 0.0625rem solid #3c6a90;
  transition: border 0.3s, background-color 0.3s;
}
[data-fls-popup-youtube-place] iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
.type-popup__blockhead:not(:last-child) {
  border-bottom: 0.0625rem solid #3c6a90;
}
.type-popup__blockhead > * {
  margin-bottom: 0.875rem;
}
.type-popup__blockhead > *:last-child {
  margin-bottom: 0;
}
.contact-popup__items {
  gap: 0.9375rem;
  display: grid;
}
.contact-popup__item {
  padding: 0.9375rem;
  position: relative;
  border-radius: 0.9375rem;
  border: 0.0625rem solid #3c6a90;
  background-color: rgba(54, 54, 121, 0.4862745098);
  transition: scale 0.3s, opacity 0.3s;
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0rem 0.3125rem 0.625rem;
}
.contact-popup__label-item {
  line-height: 1.2;
  margin-bottom: 0.875rem;
}
.contact-popup__puncts-item {
  gap: 0.5rem;
  display: grid;
}
.contact-popup__punct-item {
  line-height: 1.3;
  color: #d6d6d6;
}
.contact-popup__punct-item a {
  color: #ffee04;
}
.contact-popup__punct-item span {
  color: #00e5ff;
}
.career-popup__body {
  gap: 1.25rem;
  display: grid;
}
.career-popup__blockhead > * {
  margin-bottom: 0.875rem;
}
.career-popup__blockhead > *:last-child {
  margin-bottom: 0;
}
.career-popup__list {
  gap: 0.625rem;
  display: grid;
}
.career-popup__item-list {
  list-style: none;
  line-height: 1.25;
  padding: 0.625rem 0.75rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #c9006f;
  background-color: rgba(255, 0, 132, 0.4549019608);
}
.career-popup__form {
  padding: 0.9375rem;
  border-radius: 0.9375rem;
  background-color: #363679;
  border: 0.0625rem solid #3c6a90;
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.9375rem 1.5625rem, rgba(0, 0, 0, 0.15) 0rem 0.3125rem 0.625rem;
}
.condition-popup__blockhead > * {
  margin-bottom: 0.875rem;
}
.condition-popup__blockhead > *:last-child {
  margin-bottom: 0;
}
.privacy-popup__list {
  display: grid;
}
.privacy-popup__item {
  line-height: 1.25;
}
.privacy-popup__item span {
  font-weight: 700;
  color: #e6bf00;
}
@media (max-width: 61.99875em){
  .hero__container {
    padding-top: 7.5rem;
    margin-bottom: 8.75rem;
  }
  .stat-hero__decor--01 {
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: decor-translate-minus 8s infinite linear;
  }
  .stat-hero__decor--02 {
    top: 0;
    left: 6.25rem;
    animation: decor-translate-plus 5s infinite linear;
  }
  .stat-hero__decor--03 {
    top: 0;
    right: 6.25rem;
    animation: decor-translate-plus 8s infinite linear;
  }
  @keyframes decor-translate-minus {
    0% {
      translate: 50% 50%;
    }
    50% {
      translate: 0 0;
    }
    100% {
      translate: 50% 50%;
    }
  }
  @keyframes decor-translate-plus {
    0% {
      translate: 0 -150%;
    }
    50% {
      translate: 0 0;
    }
    100% {
      translate: 0 -150%;
    }
  }
  .work {
    border-top: none;
  }
}
@media (max-width: 47.99875em){
  .blockhead__label {
    font-size: 0.875rem;
    padding: 0.375rem 0.75rem;
  }
  .blockhead__label--star::before {
    font-size: 1rem;
  }
  .spollers {
    gap: 0.9375rem;
  }
  .spollers-footer {
    flex-direction: column;
  }
  .spollers-footer__item {
    padding: 0.875rem;
    border-radius: 0.625rem;
    background-color: #363679;
    border: 0.0625rem solid #3c6a90;
  }
  .spollers-footer__title {
    color: #fff;
  }
  .header {
    padding-block: 0.9375rem;
  }
  .main-footer {
    gap: 1.25rem;
    flex-direction: column;
  }
  .copy-footer {
    gap: 1.25rem;
    text-align: center;
    padding-block: 1.5625rem;
    flex-direction: column-reverse;
  }
  .hero__container {
    padding-top: 6.25rem;
  }
  .stat-hero__decor--02 {
    left: 0;
  }
  .stat-hero__decor--03 {
    right: 0;
  }
  [data-fls-popup-body] {
    padding: 0.9375rem;
  }
}
@media (max-width: 29.99875em){
  .spollers__item {
    padding: 0.625rem;
  }
  .--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
    width: 0.625rem;
  }
  .header__logo span {
    display: none;
  }
  .aside-hero__actions {
    flex-direction: column;
  }
  .aside-hero__button {
    width: 100%;
  }
  [data-fls-popup-close] {
    width: 2.1875rem;
    height: 2.1875rem;
  }
  [data-fls-popup-close] svg {
    width: 1rem;
    height: 1rem;
  }
  .career-popup__form {
    padding: 0.625rem;
  }
}
@media (max-width: 20em){
  .text--20 {
    font-size: 1.125rem;
  }
  .text--18 {
    font-size: 1rem;
  }
  .blockhead > * {
    margin-bottom: 1rem;
  }
  .blockhead__title--68 {
    font-size: 1.75rem;
  }
  .blockhead__title--56 {
    font-size: 1.75rem;
  }
  .blockhead__title--32 {
    font-size: 1.25rem;
  }
  .spollers__title {
    font-size: 1rem;
  }
  .header__list {
    column-gap: 0.9375rem;
  }
  .header__link {
    font-size: 0.875rem;
  }
  .footer {
    margin-top: 5rem;
  }
  .footer {
    padding-top: 1.875rem;
  }
  .footer__main {
    margin-bottom: 1.5625rem;
  }
  .aside-hero > * {
    margin-bottom: 1.5rem;
  }
  .aside-hero__actions {
    margin-bottom: 1.5rem;
  }
  .stat-hero__block {
    padding: 0.875rem;
  }
  .stat-hero__block > * {
    margin-bottom: 1.125rem;
  }
  .work {
    padding-block: 2.5rem;
  }
  .work__blockhead {
    margin-bottom: 2.1875rem;
  }
  .work__items {
    gap: 0.9375rem;
  }
  .item-work {
    padding: 1rem;
  }
  .item-work:before {
    top: 1rem;
  }
  .item-work:before {
    right: 1rem;
  }
  .item-work > * {
    margin-bottom: 1rem;
  }
  .item-work__label {
    margin-bottom: 0.875rem;
  }
  .about {
    padding-top: 2.5rem;
  }
  .about__container {
    gap: 1.875rem;
  }
  .about__items {
    gap: 0.9375rem;
  }
  .item-about {
    padding: 1rem;
  }
  .item-about > * {
    margin-bottom: 1rem;
  }
  .item-about__label {
    font-size: 1.25rem;
  }
  .item-about__label {
    margin-bottom: 0.875rem;
  }
  .baner-about {
    padding: 1rem;
  }
  .baner-about__label {
    font-size: 1.75rem;
  }
  [data-fls-popup-title] {
    font-size: 1.25rem;
  }
  .type-popup__blockhead:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .type-popup__blockhead:not(:last-child) {
    padding-bottom: 1.25rem;
  }
  .contact-popup__label-item {
    font-size: 1rem;
  }
  .contact-popup__punct-item {
    font-size: 0.875rem;
  }
  .career-popup__item-list {
    font-size: 1rem;
  }
  .privacy-popup__list {
    gap: 0.75rem;
  }
  .privacy-popup__item {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em){
  .text--20 {
    font-size: clamp( 1.125rem , 1.0889639639625rem  +  0.1801801802vw , 1.25rem );
  }
  .text--18 {
    font-size: clamp( 1rem , 0.9639639639625rem  +  0.1801801802vw , 1.125rem );
  }
  .blockhead > * {
    margin-bottom: clamp( 1rem , 0.85585585585625rem  +  0.7207207207vw , 1.5rem );
  }
  .blockhead__title--68 {
    font-size: clamp( 1.75rem , 1.02927927928125rem  +  3.6036036036vw , 4.25rem );
  }
  .blockhead__title--56 {
    font-size: clamp( 1.75rem , 1.24549549549375rem  +  2.5225225225vw , 3.5rem );
  }
  .blockhead__title--32 {
    font-size: clamp( 1.25rem , 1.03378378378125rem  +  1.0810810811vw , 2rem );
  }
  .spollers__title {
    font-size: clamp( 1rem , 0.927927927925rem  +  0.3603603604vw , 1.25rem );
  }
  .header__list {
    column-gap: clamp( 0.9375rem , 0.66722972973125rem  +  1.3513513514vw , 1.875rem );
  }
  .header__link {
    font-size: clamp( 0.875rem , 0.8389639639625rem  +  0.1801801802vw , 1rem );
  }
  .footer {
    margin-top: clamp( 5rem , 3.7387387387375rem  +  6.3063063063vw , 9.375rem );
  }
  .footer {
    padding-top: clamp( 1.875rem , 1.3344594594625rem  +  2.7027027027vw , 3.75rem );
  }
  .footer__main {
    margin-bottom: clamp( 1.5625rem , 1.2021396396375rem  +  1.8018018018vw , 2.8125rem );
  }
  .aside-hero > * {
    margin-bottom: clamp( 1.5rem , 1.35585585585625rem  +  0.7207207207vw , 2rem );
  }
  .aside-hero__actions {
    margin-bottom: clamp( 1.5rem , 0.77927927928125rem  +  3.6036036036vw , 4rem );
  }
  .stat-hero__block {
    padding: clamp( 0.875rem , 0.62274774775rem  +  1.2612612613vw , 1.75rem );
  }
  .stat-hero__block > * {
    margin-bottom: clamp( 1.125rem , 1.01689189189375rem  +  0.5405405405vw , 1.5rem );
  }
  .work {
    padding-block: clamp( 2.5rem , 1.05855855855625rem  +  7.2072072072vw , 7.5rem );
  }
  .work__blockhead {
    margin-bottom: clamp( 2.1875rem , 1.55686936936875rem  +  3.1531531532vw , 4.375rem );
  }
  .work__items {
    gap: clamp( 0.9375rem , 0.8474099099125rem  +  0.4504504505vw , 1.25rem );
  }
  .item-work {
    padding: clamp( 1rem , 0.7117117117125rem  +  1.4414414414vw , 2rem );
  }
  .item-work:before {
    top: clamp( 1rem , 0.7117117117125rem  +  1.4414414414vw , 2rem );
  }
  .item-work:before {
    right: clamp( 1rem , 0.7117117117125rem  +  1.4414414414vw , 2rem );
  }
  .item-work > * {
    margin-bottom: clamp( 1rem , 0.85585585585625rem  +  0.7207207207vw , 1.5rem );
  }
  .item-work__label {
    margin-bottom: clamp( 0.875rem , 0.76689189189375rem  +  0.5405405405vw , 1.25rem );
  }
  .about {
    padding-top: clamp( 2.5rem , 0.51801801801875rem  +  9.9099099099vw , 9.375rem );
  }
  .about__container {
    gap: clamp( 1.875rem , 0.6137387387375rem  +  6.3063063063vw , 6.25rem );
  }
  .about__items {
    gap: clamp( 0.9375rem , 0.8474099099125rem  +  0.4504504505vw , 1.25rem );
  }
  .item-about {
    padding: clamp( 1rem , 0.7117117117125rem  +  1.4414414414vw , 2rem );
  }
  .item-about > * {
    margin-bottom: clamp( 1rem , 0.85585585585625rem  +  0.7207207207vw , 1.5rem );
  }
  .item-about__label {
    font-size: clamp( 1.25rem , 1.177927927925rem  +  0.3603603604vw , 1.5rem );
  }
  .item-about__label {
    margin-bottom: clamp( 0.875rem , 0.76689189189375rem  +  0.5405405405vw , 1.25rem );
  }
  .baner-about {
    padding: clamp( 1rem , 0.423423423425rem  +  2.8828828829vw , 3rem );
  }
  .baner-about__label {
    font-size: clamp( 1.75rem , 1.3896396396375rem  +  1.8018018018vw , 3rem );
  }
  [data-fls-popup-title] {
    font-size: clamp( 1.25rem , 1.03378378378125rem  +  1.0810810811vw , 2rem );
  }
  .type-popup__blockhead:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 1.1599099099125rem  +  0.4504504505vw , 1.5625rem );
  }
  .type-popup__blockhead:not(:last-child) {
    padding-bottom: clamp( 1.25rem , 1.1599099099125rem  +  0.4504504505vw , 1.5625rem );
  }
  .contact-popup__label-item {
    font-size: clamp( 1rem , 0.927927927925rem  +  0.3603603604vw , 1.25rem );
  }
  .contact-popup__punct-item {
    font-size: clamp( 0.875rem , 0.8389639639625rem  +  0.1801801802vw , 1rem );
  }
  .career-popup__item-list {
    font-size: clamp( 1rem , 0.9639639639625rem  +  0.1801801802vw , 1.125rem );
  }
  .privacy-popup__list {
    gap: clamp( 0.75rem , 0.60585585585625rem  +  0.7207207207vw , 1.25rem );
  }
  .privacy-popup__item {
    font-size: clamp( 0.875rem , 0.76689189189375rem  +  0.5405405405vw , 1.25rem );
  }
}
@media (min-width: 29.99875em){
  .work__items {
    grid-template-columns: repeat(auto-fill, minmax(min(17.5rem, 100%), 1fr));
  }
  .about__items {
    grid-template-columns: repeat(auto-fill, minmax(min(31.25rem, 100%), 1fr));
  }
  .contact-popup__items {
    grid-template-columns: repeat(auto-fill, minmax(min(17.5rem, 100%), 1fr));
  }
}
@media (min-width: 47.99875em){
  .main-footer {
    align-items: start;
  }
  .about__head {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 61.99875em){
  .hero__container {
    min-height: 100svh;
    padding-block: 7.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .aside-hero {
    max-width: 39.375rem;
  }
  .aside-hero__item {
    flex: 0 1 6.25rem;
  }
  .stat-hero {
    max-width: 26.875rem;
    justify-self: center;
  }
  .stat-hero__decor--01 {
    top: 0;
    left: -1.875rem;
  }
  .stat-hero__decor--02 {
    right: -1.875rem;
    bottom: 10.625rem;
  }
  .stat-hero__decor--03 {
    bottom: 0;
    right: -1.875rem;
  }
}
@media (min-width: 89.375em){
  .text--20 {
    font-size: 1.25rem;
  }
  .text--18 {
    font-size: 1.125rem;
  }
  .blockhead > * {
    margin-bottom: 1.5rem;
  }
  .blockhead__title--68 {
    font-size: 4.25rem;
  }
  .blockhead__title--56 {
    font-size: 3.5rem;
  }
  .blockhead__title--32 {
    font-size: 2rem;
  }
  .spollers__title {
    font-size: 1.25rem;
  }
  .header__list {
    column-gap: 1.875rem;
  }
  .header__link {
    font-size: 1rem;
  }
  .footer {
    margin-top: 9.375rem;
  }
  .footer {
    padding-top: 3.75rem;
  }
  .footer__main {
    margin-bottom: 2.8125rem;
  }
  .aside-hero > * {
    margin-bottom: 2rem;
  }
  .aside-hero__actions {
    margin-bottom: 4rem;
  }
  .stat-hero__block {
    padding: 1.75rem;
  }
  .stat-hero__block > * {
    margin-bottom: 1.5rem;
  }
  .work {
    padding-block: 7.5rem;
  }
  .work__blockhead {
    margin-bottom: 4.375rem;
  }
  .work__items {
    gap: 1.25rem;
  }
  .item-work {
    padding: 2rem;
  }
  .item-work:before {
    top: 2rem;
  }
  .item-work:before {
    right: 2rem;
  }
  .item-work > * {
    margin-bottom: 1.5rem;
  }
  .item-work__label {
    margin-bottom: 1.25rem;
  }
  .about {
    padding-top: 9.375rem;
  }
  .about__container {
    gap: 6.25rem;
  }
  .about__items {
    gap: 1.25rem;
  }
  .item-about {
    padding: 2rem;
  }
  .item-about > * {
    margin-bottom: 1.5rem;
  }
  .item-about__label {
    font-size: 1.5rem;
  }
  .item-about__label {
    margin-bottom: 1.25rem;
  }
  .baner-about {
    padding: 3rem;
  }
  .baner-about__label {
    font-size: 3rem;
  }
  [data-fls-popup-title] {
    font-size: 2rem;
  }
  .type-popup__blockhead:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
  .type-popup__blockhead:not(:last-child) {
    padding-bottom: 1.5625rem;
  }
  .contact-popup__label-item {
    font-size: 1.25rem;
  }
  .contact-popup__punct-item {
    font-size: 1rem;
  }
  .career-popup__item-list {
    font-size: 1.125rem;
  }
  .privacy-popup__list {
    gap: 1.25rem;
  }
  .privacy-popup__item {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover){
  .select__option:hover {
    background: #363679;
  }
  .spollers-footer__link:hover {
    color: #8cb4f8;
  }
  .header__logo:hover {
    scale: 1.04;
  }
  .header__link:hover {
    color: #fff;
  }
  .header__link:hover::before {
    width: 100%;
  }
  .main-footer__logo:hover {
    opacity: 0.75;
  }
  .copy-footer__link:hover {
    color: #8cb4f8;
  }
  .button:hover {
    scale: 1.05;
  }
  .button:hover::after {
    left: 0;
  }
  .button--border:hover {
    background: #7653ba;
  }
  .item-work:hover {
    scale: 1.04;
  }
  .item-about:hover {
    scale: 1.025;
  }
  .baner-about__item:hover {
    scale: 1.07;
  }
  [data-fls-popup-close]:hover {
    background-color: #bc0000;
    border: 0.0625rem solid #e42626;
  }
  .contact-popup__punct-item a:hover {
    text-decoration: underline;
  }
  .career-popup__form .button:hover {
    scale: 1;
  }
}